body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url(../src/images/cursor_img.jpg), auto;
}

.card {
 transition: 0.3s;
 display: inline-block;
 text-align: center;
 padding-top: 15px;
 padding-bottom: 15px;
 margin-bottom: 10px;
 margin-left: 2px;
 margin-right: 2px;
 height: 150px;
 box-shadow: 0 4px 8px #4cc9f0;
 width: 25%;
 color: white;
 background-image: linear-gradient(#4cc9f0, #560bad, #f72585);
 font-family: Helvetica;
}

.card:hover {
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 zoom: 105%;
}

.studentButton {
  font-family: Helvetica;
  font-weight: bold;
  background-color: #4cc9f0;
  padding: 5px;
  border-radius: "10px";
  border: "2px solid #eacdc2";
}

.container {
 text-align: center;
 padding-top: 5px;
}

.header {
  text-align: center;
  padding-top: 10px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: #4cc9f0;
  cursor: url(../src/images/cursor_img.jpg), auto;
}

.search {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:larger;
  font-weight:bold;
  color: #560bad;
  padding: 20px;
}

.shoutout {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  color: #560bad;
}

.form {
  text-align: center;
  padding-top: 20px;
}

.formItem {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #560bad;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.a:hover {
  box-shadow: 0 8px 16px 0 rgba(252, 251, 251, 0.2);
  zoom: 101%;
}

.shoutoutCard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  display: inline-block;
  padding-top: 5px;
  background-image: linear-gradient(#f72585, #560bad, #4cc9f0);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
  color:white;
}

.shoutoutCard:hover {
  zoom: 102%;
}

.image {
  max-width: 100%;
  height: auto
}

a:link {
  color: hotpink;
  cursor: url(../src/images/cursor_img.jpg), auto;
}

a:visited {
  color: rgb(255, 255, 255);
  cursor: url(../src/images/cursor_img.jpg), auto;
}